---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service-authorizations?page%5Bnumber%5D=1&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"data":[{"id":"3LA2qxhWzpRitVKTq9SsEU","type":"service_authorization","attributes":{"created_at":"2022-06-20T09:05:32Z","updated_at":"2022-06-20T09:05:32Z","deleted_at":null,"permission":"full"},"relationships":{"service":{"data":{"id":"7i6HN3TK9wS159v2gPAZ8A","type":"service"}},"user":{"data":{"id":"4tKBSuFhNEiIpNDxmmVydt","type":"user"}}}}],"links": {"last": "https://api.fastly.com/service-authorizations?page%5Bnumber%5D=1&page%5Bsize%5D=100"},"meta":{"current_page":1,"per_page":100,"record_count":2,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Link:
        - <https://api.fastly.com/service-authorizations?page%5Bnumber%5D=2&page%5Bsize%5D=1>;
          rel="last", <https://api.fastly.com/service-authorizations?page%5Bnumber%5D=2&page%5Bsize%5D=1>;
          rel="next"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
